*{
font-family: 'Roboto', sans-serif;}

h1{
	font-size:36px;
	margin-bottom: 10px;
	text-align: center;
		font-weight: bold;

	color:#00BCD4;
}

h2{
	font-size:36px;
	text-align: center;
	color:#1976D2;
	font-weight: bold;
}



h3{
	font-size:32px;
	font-weight: bold;
	text-align: center;
	color:#1976D2;
}

h3,h2 {
   width: 100%; 
   border-bottom: 1px solid #909090; 
   line-height: 0.1em;
   margin-top:30px;
   margin-bottom:20px;

} 

h2 span { 
    background:#fff; 
    padding-right:15px;
    padding-left:15px;
}

h3 span { 
    background:#fff;
    padding-right:15px;
    padding-left:15px; 
}


h4{
	font-size:20px;
	font-weight: normal;
}

p{
	font-size: 18px;
}

hr{
	border-width: 1px;
	border-color: #B6B6B6;
}

.small{
	font-size: 14px;
}

.data{
	font-weight:bold;
	color:#1976D2;
	font-size: 20px;
}

#selector-section{
	text-align: center;
}

#lang_select{
	width:500px;
}

#i_speak{
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

